{% extends "services/services_ctrl_base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Discord" %}
{% endblock %}

{% block url %}
    {% if server_name %}
        {{server_name}}
    {% else %}
        (Unknown Server)
    {% endif %}
{% endblock %}

{% block active %}
    {% if server_name %}
        <span class="badge {% if user_has_account %}bg-success{% else %}bg-warning{% endif %}">{% if user_has_account %}Active{% else %}Disabled{% endif %}</span>
    {% else %}
        <span class="badge bg-danger">Unlinked Server</span>
    {% endif %}
{% endblock %}

{% block user %}
    {% if not user_has_account %}
        (not activated)
    {% else %}
        {{discord_username}}
    {% endif %}
{% endblock %}

{% block controls %}
    {% if server_name %}
        {% if not user_has_account %}
        <a href="{% url 'dmv:activate' guild_id %}" title="{% translate 'Join the Discord server' %}" class="btn btn-primary">
            <span class="fas fa-check fa-fw"></span>
        </a>
        {% else %}
        <a href="{% url 'dmv:reset' guild_id %}" title="{% translate 'Leave and rejoin the Discord Server (Reset)' %}" class="btn btn-warning">
            <span class="fas fa-sync fa-fw"></span>
        </a>
        <a href="{% url 'dmv:deactivate' guild_id %}" title="{% translate 'Leave the Discord server' %}" class="btn btn-danger">
            <span class="fas fa-times fa-fw"></span>
        </a>
        {% endif %}
    {% endif %}
    {% if request.user.is_superuser %}
    <a class="btn btn-primary" title="{% translate 'Link Discord Server' %}" href="{% url 'dmv:add_bot' %}">
        <span class="fas fa-link fa-fw"></span>
    </a>
    {% endif %}
{% endblock %}
